<script>
import { mapState, mapActions, mapMutations } from 'vuex'

 export default {

   computed: {
     // Cleaner version (Accessing all variables)
     ...mapState(['guesser']),

     /*points() {
       return this.$store.state.points
     }*/
   },

   methods: {
     ...mapMutations(['setNextGuess']),
     ...mapActions(['getDeck', 'drawCard'])
   }
 }
</script>

<template>
  <h1>Card Guesser</h1>

  <button class="guesser" @click="getDeck">Get a new deck</button>

  <div v-if="guesser.deckId">
    <button class="guesser" @click="setNextGuess('red')">Guess red</button>
    <button class="guesser" @click="setNextGuess('black')">Guess black</button>
    <br/>
    <button class="guesser" v-if="guesser.nextGuess" @click="drawCard">Draw a card</button>

    <br/>
    <h1>Guesses: {{ guesser.guesses }}</h1>
    <h1>Points: {{ guesser.points }}</h1>
    <h1>Your next guess is: {{ guesser.nextGuess }}</h1>
    <br/>

    <div v-for="(card, index) in guesser.cards" :key="index">
      {{ card.value }} of {{ card.symbol }}
      <img :src="card.image" :alt="card.value" />
    </div>

  </div>


</template>

<style>
img {
  width: 50px;
}
</style>