<script>

  import Pokeman from '@/components/Pokeman.vue';

  export default {
    components: {
      Pokeman,
    },

    data() {
      return {
        list: [],
      };
    },

    async mounted() {
      // Checking for existing records
      const localData = localStorage.getItem('pokemon')
      if(localData) {
        console.log("from storage")
        // Exiting if already exists
        return this.list = JSON.parse(localData)
      }

      // Fetching data if record is empty
      const url = 'https://pokeapi.co/api/v2/pokemon?limit=151';

      const data = await fetch(url);
      const pokemon = await data.json();

      localStorage.setItem('pokemon', JSON.stringify(pokemon.results));

      console.log("fetch")
      this.list = pokemon.results;
    },
  };
</script>

<template>
  <h1>Pokedex</h1>

  <!--
  <div v-for="(item, index) in list" :key="index">
    <div>
      <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${index + 1}.png`" alt="">
    </div>
    <h2>{{ item.name }}</h2>
  </div>
  -->
  <div class="flex flex-wrap">
      <Pokeman
          v-for="(item, index) in list"
          :key="index"
          :name="item.name"
          :index="index"
          class="w-1/3"
      />
  </div>
</template>