@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
    padding: 10px;
}

a {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    margin: 0px 50px;
}

h1 {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100px;
    color: #000000;
}

h3 {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

body {
    font-family: Poppins;
    font-style: normal;
    font-variant: medium;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: url("https://images.unsplash.com/photo-1529920300777-27eec6beaa41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: fit-content;
    margin-top: 10%;
}

button:active {
    background-color: #f80000a8;
}

button:hover {
    background-color: #0000004b;
    color: white;
}

button {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    border: 2px rgba(0, 0, 0, 0.329) solid;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    width: 75px;
    height: 75px;
}

.guesser {
    font-family: Poppins;
    font-style: normal;
    font-variant: medium;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    border: 2px rgba(0, 0, 0, 0.329) solid;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    width: 100%;
}

#meme {
    height: 640px;
    width: 640px;
}

img {
    margin: 10px;
    width: 90px;
    height: 150px;
}